.page-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.navbar-brand {
  position: absolute;
  top: 8px;
}

body {
  background-color: #c1b8c8;
}

nav {
    font-family: Georgia, serif;
    text-align: center;
}

#links {
    display: inline-block;
    margin: 0.15px;
    text-align: center;
    list-style-type: none;
}

p {
  text-align: center;
  margin: auto 0;
}

h1 {
  text-align: center;
  margin: auto 0;
}

h2 {
  text-align: center;
  margin: auto 0;
}



h3 {
  text-align: center;
  margin: auto 0;
}

h4 {
  text-align: center;
  margin: auto 0;
}





.line-break {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.audio {
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.navbar-brand {
  transition: transform 0.5s ease;
}
.navbar-brand:hover {
  transform: scale(1.15);
}



#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);

  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;

  background-color: #e0e2e5;
  padding: 10px;
}

#popup.open {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

@keyframes pulse {
  0% { transform: scale(1); } /* start at regular size   */
  50% { transform: scale(1.03); } /* grow slightly in middle */
  100% { transform: scale(1); } /* return to normal size   */
}

#openPopup {
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: pulse 3s ease-in-out infinite;
}

a:focus,
button:focus,
input:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}



.parallax-banner-scroll {
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  
  background-attachment: scroll; 
  position: relative;
}

.parallax-banner {
  height: 500px;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed; 
  position: relative;
}

.parallax-banner-overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25); 
}

.parallax-banner-content {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #faf7e8;
  text-shadow: 0 0 10px #000;
}




canvas {
  display: block;
  margin: 20px auto;
}




.blog-preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    max-width: 80%;
    margin: 80px auto;
    padding: 20px 40px;
}

.blog-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blog-preview img {
    width: 35%;      
    height: auto; 
    border-radius: 8px; 
}

.date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: #666;
    margin: 0;
}

.post-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
}

.post-review {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 0.9rem;
    line-height: 1.6;
    margin: 0;
}

.read-more {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #8fafa7;
    margin-top: 10px;
}



.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    margin: auto;
    padding: 10px;
}

.item {
    background-color:#b5abc2;
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
}

.item img {
  padding: 0;
  width: 100%; 
  height: auto; 
  display: block; 
  border-radius: 8px; 
}

.item p {
  text-align: center; 
  display: flex; 
  align-items: center; 
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #dcc4f0;
  max-width: 400px;
  margin-bottom: 20px;
  
}

.card-section {
  display: flex;
  gap: 20px;
  justify-content: space;
  flex: 1;
}




.featured-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  gap: 20px;
  align-items: start;
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.featured-section .blog-preview {
  max-width: 100%;
  margin: 0;
  padding: 10px 0;
  gap: 10px;
}

.featured-section .blog-preview img {
  width: 80px;
}

.featured-section .blog-text {
font-size: 0.6rem;
}

.featured-section .post-preview {
font-size: 0.6rem;
line-height: 1;
}

.featured-section .post-title {
font-size: 0.8rem;
line-height: 1;
}

.featured-section .date {
font-size: 0.5rem;
}

.featured-section .read-more {
margin-top: 0px !important; 
}





.footer {
  display: flex; 
  justify-content: space-between; 
  align-items: flex-start; 
  background-color: #d5d0dd; 
  padding: 30px 100px; 
  font-family: Arial, Helvetica, sans-serif; 
}

.footer ul {
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

.footer li {
  margin-bottom: 6px; 
  font-size: 14px; 
}

.social-icons img {
  width: 22px; 
  margin-right: 10px; 
  vertical-align: middle; 
}






a:focus, button:focus, input:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}




@media (max-width: 600px) {
  /* Styles for mobile screens */

  body {
  font-size: 16px;
  padding: 10px;
  }

  li {
  display: block; 
  margin: 10px 0; 
  }

  nav {
  text-align: center;
  }

  header, .chapter, footer {
  padding: 10px; 
  }

  .card-section{
  flex-direction: column;
  }

}

@media (min-width: 600px) and (max-width: 1024px) {
  

  body {
  font-size: 16px;
  padding: 10px;
  }

  li {
  display: block; 
  margin: 10px 0; 
  }

  nav {
  text-align: center;
  }

  header, .chapter, footer {
  padding: 10px; 
  }
}

@media (max-width: 768px) {
  .parallax-banner {
    background-attachment: scroll;
    height: 320px;
  }

  .parallax-banner-content h1 {
    font-size: 2rem;
  }
}

































/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #c1b8c8;
}
.container{
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  max-width: 1050px;
}
section{
  background: #fff;
  border-radius: 7px;
}
.tools-board{
  width: 210px;
  padding: 15px 22px 0;
}
.tools-board .row{
  margin-bottom: 20px;
}
.row .options{
  list-style: none;
  margin: 10px 0 0 5px;
}
.row .options .option{
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}
.option:is(:hover, .active) img{
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}
.option :where(span, label){
  color: #5A6168;
  cursor: pointer;
  padding-left: 10px;
}
.option:is(:hover, .active) :where(span, label){
  color: #4A98F7;
}
.option #fill-color{
  cursor: pointer;
  height: 14px;
  width: 14px;
}
#fill-color:checked ~ label{
  color: #4A98F7;
}
.option #size-slider{
  width: 100%;
  height: 5px;
  margin-top: 10px;
}
.colors .options{
  display: flex;
  justify-content: space-between;
}
.colors .option{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;
}
.colors .option:nth-child(1){
  background-color: #fff;
  border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2){
  background-color: #000;
}
.colors .option:nth-child(3){
  background-color: #E02020;
}
.colors .option:nth-child(4){
  background-color: #6DD400;
}
.colors .option:nth-child(5){
  background-color: #4A98F7;
}
.colors .option.selected::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}
.colors .option:first-child.selected::before{
  border-color: #ccc;
}
.option #color-picker{
  opacity: 0;
  cursor: pointer;
}
.buttons button{
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 11px 0;
  font-size: 0.9rem;
  margin-bottom: 13px;
  background: none;
  border-radius: 4px;
  cursor: pointer;
}
.buttons .clear-canvas{
  color: #6C757D;
  border: 1px solid #6C757D;
  transition: all 0.3s ease;
}
.clear-canvas:hover{
  color: #fff;
  background: #6C757D;
}
.buttons .save-img{
  background: #c1b8c8;
  border: 1px solid #c1b8c8;
}
.drawing-board{
  flex: 1;
  overflow: hidden;
}
.drawing-board canvas{
  width: 100%;
  height: 100%;
}