body {
  background-color: orange;
}

h1 {
  padding: 35px;
  style:rgb(255, 217, 0);
  font-weight: bold;
  text-align: center;
  background-color: rgb(192, 39, 39);
}

h2 {
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
  background-color: rgb(192, 39, 39);
} 

h3, h4 {
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
  background-color:#ffffff;
}

p {
  max-width: 60%; /* paragraph never gets wider than 60% of the screen */
margin: 0 auto; /* centers it horizontally */ 
  background-color:white;
}
