body {
  background-color: rgb(255, 188, 62);
}

li {
  list-style-image: url('../images/Video Game Controller Icon.png');
  color: rgb(10, 10, 75);
  display: inline-block;
  font-family: Georgia, serif;
  max-width: 100%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
}

div {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color:#ffffff;
}

header {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: white;
}

h1 {
  max-width: 100%;
  margin: 0 auto;
  padding: 35px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(192, 39, 39);
}

h2 {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(192, 39, 39);
} 

p {
  max-width: 60%; 
  margin: 0 auto; 
  background-color:white;
}
