body {
  background-color: rgb(255, 188, 62);
}

li {
    list-style-type: none;
    color: navy;
    display: inline-block;
    font-family: Georgia, serif;
}

header {
    border: 1px solid black;
    padding: 35px;
    text-align: center;
    background-color: white;
}

h1 {
  padding: 35px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(192, 39, 39);
}

h2 {
  text-align: center;
  background-color: rgb(192, 39, 39);
} 

h3, h4 {
  text-align: center;
  background-color:#ffffff;
}

p {
  max-width: 60%; 
  margin: 0 auto; 
  background-color:white;
}
