body {
  background-color: #ffbc3e;
}

nav {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: Georgia, serif;
  background-color: #ffffff;
  padding: 5px;
}

li {
  list-style-image: url('../images/Video Game Controller Icon.png');
  color: #0a0a4b;
  display: inline-block;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
}

div {
  max-width: 100%;
  margin: 0 auto;
  background-color:#ffffff;
}

header {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
}

h1 {
  padding: 35px;
  font-weight: bold;
  text-align: center;
  background-color: #c02727;
}

h2 {
  text-align: center;
  background-color: #c02727;
} 

h3, h4 {
  max-width: 100%;
  margin: 0 auto;
  background-color:#ffffff;
}

p {
  max-width: 60%; 
  margin: 0 auto; 
}

footer {
  max-width: 60%; 
  margin: 0 auto; 
  text-align: center;
  padding: 40px;
}